---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/Hero.astro'

const allPosts = await Astro.glob('../content/tips/*.md')
---

<Layout title="Astro Tips.">
  <main>
    <Hero />
    <ul role="list" class="link-card-grid">
      {
        allPosts.map((post) => (
          <Card
            time={post?.frontmatter?.pubDate}
            title={post?.frontmatter?.title}
            tags={post?.frontmatter?.tags}
          />
        ))
      }
    </ul>

    <style>
      main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
      }

      .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
      }
    </style>
  </main>
</Layout>
